/* General */
.member-photo {
  border-radius: 100%;
}

/* Main Header */
.main-header {
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 325px;
  padding-top: 40px;
  padding-bottom: 80px;
}

/* Info Section */
.info-section {
  text-align: center;
  margin-bottom: 50px;
}

.info-btn {
  border-radius: 0;
}

/* Photo Section */
.photo-section {
  text-align: center;
}

/* Main Footer */
.main-footer {
  border-top: 1px solid lightgray;
}

.social-icon {
  width: 17px;
  height: 17px;
}

/* Colors */
.banner {
  color: rgba(255, 255, 255, 0.5);
}

.banner h1 {
  color: rgba(255, 255, 255, 0.9);
}

.info-section h3,
h2,
.photo-section h3,
a {
  color: rgba(83, 133, 193, 1);
}

.banner h1,
.info-section h3,
.team-section h2,
.team-section h3,
.photo-headline,
.photo-section h3 {
  font-weight: 200;
}

#team,
.info-btn {
  background-color: rgba(83, 133, 193, 1);
}

.team-section h2,
.team-section h3,
.info-btn {
  color: #fff;
}

.info-p,
.photo-span,
.photo-section p {
  color: rgba(154, 154, 154, 0.75);
}

.team-section > p,
.member-bio > p {
  color: rgba(255, 255, 255, 0.5);
}

hr {
  width: 100%;
  margin-top: 45px;
}

.main-header {
  color: #fff;
}

.bb {
  border-bottom: 1px solid gray;btn
}

.team-section {
  background-color: lightblue;
}

.member-bio {
  border: 1px solid #7ea3d1;
}

.main-footer {
  color: #bfbfbf;
}

/* Media Queries */
@media (min-width: 30em) {

  html {
    font-size: 16px;
  }

  .info-section {
    text-align: left;
    margin-bottom: 90px;
  }

  .info-btn {
    width: 100px;
  }

  .photo-section {
    text-align: left;
  }

}

@media (min-width: 48em) {

  html {
    font-size: 19px;
  }

  .main-header {
    min-height: 435px;
  }

}

@media (min-width: 62em) {

  .main-header {
    background-attachment: fixed;
  }

  hr {
    display: none;
  }

  .br {
    border-right: 1px solid lightgray;
  }

  .info-section > div {
    padding-left: 40px;
    padding-right: 40px;
  }

}
